<a href="https://colab.research.google.com/github/rafin2312/Python_Bootcamp/blob/main/python_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1(a)

In [3]:
name = " Rafin "
age = 23
gpa = 3.5
is_student = True

print(" Variable types: ")
print(type(name))
print(type(age))
print(type(gpa))
print(type(is_student))

 Variable types:
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Question 1(b)

In [10]:

print("Conversion: ")
str_to_int = int("123")
print("123 to int: ", str_to_int)

int_to_str = str(456)
print("456 to str: ", int_to_str)

floot_to_int = int(3.99)
print("3.99 to int: ", floot_to_int)

bool_from_1 = bool(1)
bool_from_0 = bool(0)
print("1 to bool: ", bool_from_1)
print("0 to bool: ", bool_from_0)

Conversion:
123 to int:  123
456 to str:  456
3.99 to int:  3
1 to bool:  True
0 to bool:  False

Question 2:

In [17]:
num1 = 17
num2 = 5

print("Addition: ", num1+num2)
print("Subtraction: ", num1-num2)
print("Multiplication: ", num1*num2)
print("Division: ", num1/num2)
print("Modulus: ", num1%num2)
print("Floor Division", num1//num2)
print("Exponential ", num1**num2)

print("17 > 5:", num1> num2)
print("17 == 5:", num1==num2)
print("17 != 5:", num1!=num2)

Addition:  22
Subtraction:  12
Multiplication:  85
Division:  3.4
Modulus:  2
Floor Division 3
Exponential  1419857
17 > 5: True
17 == 5: False
17 != 5: True

question 3(3)

In [29]:
text = "Python Programming"
print(text.upper())
print(text.lower())
print(text.title())

new_text = text.replace("programming", "language")
print(new_text)

length = len(text)
print(length)

PYTHON PROGRAMMING
python programming
Python Programming
Python Programming
18

question 3(B)

In [30]:
name = "Rafin"
age = 23
gpa = 3.5

print(f" My name is {name}, I am {age} years old and my GPA is {gpa}")

 My name is Rafin, I am 23 years old and my GPA is 3.5

Question 4(a)

In [41]:
age_input = input("Enter your age: ")
age = int(age_input)

if age <0:
    print("Invalid age")
elif age >= 18:
    print("You are an adult.")
elif age >= 13 and age <= 17:
    print("You are a teenager.")
else:
    print("You are a child")

Enter your age: -9
Invalid age

question 4(b)

In [47]:
number = int(input("Enter a number: "))
print('Even') if number %2 == 0 else print('Odd')

Enter a number: 12
Even

Question 4(C)

In [49]:
mark = int(input("Enter your mark(0-100): "))

if mark <0 or mark >100:
    print("Invalid mark")
elif mark >= 90:
  print('A+')
elif mark >= 80:
  print('A')
elif mark >= 70:
  print('B')
elif mark >= 60:
  print('C')
elif mark >= 50:
  print('D')
else:
  print('Failed')

Enter your mark(0-100): 33
Failed

Question 4(D)

In [54]:
username = "admin"
password = "1234"
attempts = 0

while attempts <3:
  user_input_username = input("Enter your username: ")
  user_input_password = input("Enter your password: ")

  if user_input_username == username and user_input_password == password:
    print(f'Login successful Welcome, {user_input_username}.')
    break
  elif user_input_username == username and user_input_password != password:
    print('incorrect password, Try again')
  else:
    print('user not found.')
    attempts = attempts + 1
    if attempts == 3:
      print('Account locked.')

Enter your username: aminn
Enter your password: 1234
user not found.
Enter your username: admin
Enter your password: 1235
incorrect password, Try again
Enter your username: admin
Enter your password: 1236
incorrect password, Try again
Enter your username: admin
Enter your password: 1234
Login successful Welcome, admin.

Question 5

In [6]:
is_active = True
bank_user = "admin"
bank_password = "1234"

if is_active == False: # Corrected 'false' to 'False'
  print('Account is disable')
else: #if the account is active
  login_user = input('Enter your username: ')
  login_password = input('Enter your password: ')

  if login_user == bank_user and login_password == bank_password:
    print("Login successful")

    correct_pin = 1234
    balance = 5000
    pin_attempts = 3

    while pin_attempts > 0:
      entered_pin = int(input("Enter your pin: "))
      if entered_pin == correct_pin:
        request = int(input("Enter amount to withdraw: "))

        if request > 500 and request <= balance:
            balance = balance - request
            print(f"Successful withdrawal. Remaining balance: {balance}")
            break
        elif request <= 500:
            print("Amount must be greater than 500.")
        else: # request > balance
            print("Insufficient balance.")
        break
      else:
        pin_attempts = pin_attempts - 1
        if pin_attempts == 0:
            print('Card blocked!')
        else:
            print(f'Wrong pin. Attempts remaining: {pin_attempts}')
  else:
    print("Login failed.")

Enter your username: admin
Enter your password: 1234
Login successful
Enter your pin: 1234
Enter amount to withdraw: 1000
Successful withdrawal. Remaining balance: 4000

Question 6

In [8]:
for i in range(1, 21): #range(start, stop)
    print(i, end=" ")
print()


for i in range(1, 11): #range(start, stop)
    result = 7 * i
    print(f"7 x {i} = {result}")

total_sum = 0
for i in range(1, 101):
    total_sum = total_sum + i
print(total_sum)

for i in range(2, 51, 2): # range(start, stop, step)
    print(i, end=" ")
print()


fruits = ['apple', 'banana', 'cherry', 'mango', 'grape']
position = 1
for fruit in fruits:
    print(f"{position}: {fruit}")
    position = position + 1

# --- Question 6(b): While Loops ---

count = 10
while count > 0:
    print(count, end=" ")
    count = count - 1
print()

positive_sum = 0
while True:
    num = int(input("Enter a positive number (0 or negative to stop): "))
    if num <= 0:
        break  # Stops the loop if the condition is met
    positive_sum = positive_sum + num
print(f"Total sum: {positive_sum}")

countdown = 10
while countdown >= 0:
    if countdown == 0:
        print('Blast off!')
    else:
        print(countdown)
    countdown = countdown - 1

multiplier = 1
while multiplier <= 10:
    print(6 * multiplier, end=" ")
    multiplier = multiplier + 1
print()

1 to 20:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

Multiplication table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Sum of 1 to 100:
5050

Even numbers 1 to 50:
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50
1: apple
2: banana
3: cherry
4: mango
5: grape
10 9 8 7 6 5 4 3 2 1
Enter a positive number (0 or negative to stop): 6
Enter a positive number (0 or negative to stop): 8
Enter a positive number (0 or negative to stop): 9
Enter a positive number (0 or negative to stop): 8
Enter a positive number (0 or negative to stop): 0
Total sum: 31
10
9
8
7
6
5
4
3
2
1
Blast off!
6 12 18 24 30 36 42 48 54 60